.main__container {
  color: var(--night, var(--gray)) var(--day, var(--dark));
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
  min-height: 100vh;
}

.welcome__container {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 157px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 157px);
  margin: 0 auto;
  height: 100vh;
}

.welcome__container p {
  font-size: 2rem;
  line-height: 3rem;
}

.welcome__container p,
.welcome__container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.welcome__container span {
  color: var(--night, var(--gold)) var(--day, var(--orange));
}

.welcome__title {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 4rem;
  line-height: 5rem;
}

.welcome__link {
  font-weight: 600;
  color: var(--night, var(--gold)) var(--day, var(--orange));
}

.welcome__btn {
  margin-top: 20px;
}

@media screen and (max-width: 575px) {
  .welcome__container {
    z-index: 30;
    height: calc(100vh - 190px);
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  .welcome__container p {
    font-size: 1rem;
  }
}