.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 157px;
}

.about__container span {
  color: var(--night, var(--gold-70)) var(--day, var(--orange-70));
  font-size: 1rem;
  font-weight: 700;
}

.about__container-image {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 160px;
  height: 160px;
  -webkit-filter: hue-rotate(330deg);
  filter: hue-rotate(330deg);
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin-left: 1rem;
  margin-bottom: 20px;
  padding-right: 1rem;
}

.about__title span {
  font-family: 'Overpass', sans-serif;
  font-size: 1.2rem;
}

.about__title {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 4rem;
  line-height: 5rem;
}

.about__wrapper p {
  margin-bottom: 10px;
}

.about__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.about__item-text {
  margin-left: 10px;
}

.about__item-text.small {
  margin-left: 2.9rem;
}

.about__icon {
  height: 2rem;
  width: 2rem;
  margin-top: -15px;
  margin-left: 10px;
  fill: var(--night, var(--gold-70)) var(--day, var(--orange-70));
  stroke: var(--night, var(--dark)) var(--day, var(--gray));
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
}

@media screen and (max-width: 600px) {
  .about__container-image {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .about__container {
    margin-left: 0;
  }

  .about__wrapper {
    justify-content: flex-start;
    height: calc(100vh - 285px);
    overflow-y: scroll;
  }

  .about__title {
    display: none;
  }

  .about__item-text.small {
    margin-left: 10px;
  }
}