.login__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 157px;
  padding: 1rem;
  height: 100vh;
}

.login__form-title {
  margin-bottom: 40px;
}

.login__form-title span {
  color: var(--night, var(--gold)) var(--day, var(--orange));
}

.login__form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.login__form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.login__form-input {
  width: 80%;
  padding: 7px;
  border-radius: 10px;
  margin-right: 10px;
}

.login__btn {
  font-weight: 500;
  margin-right: 10px;
}

.login__btn-group span {
  font-size: 1rem;
}

.login__register-link {
  font-weight: 600;
  color: var(--night, var(--gold)) var(--day, var(--orange));
}

@media screen and (max-width: 575px) {
  .login__form-container {
    align-items: flex-start;
    margin-left: 0;
    margin-top: -20px;
  }

  .login__form-title {
    margin-bottom: 20px;
  }

  .login__form-input {
    width: 100%;
  }

  .login__btn-group {
    text-align: right;
  }
}