.cart__container {
  padding-top: 135px;
  padding-left: 157px;
  width: calc(100vw - 2rem);
  min-height: 100vh;
  padding-bottom: 1rem;
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
}

.cart__wrapper {
  position: relative;
  margin-bottom: 1rem;
  z-index: 0;
}

.cart_welcome-text {
  position: fixed;
  z-index: 69;
  top: 0px;
  height: 135px;
  min-width: 215px;
  width: 100%;
  padding: 3rem 20px 10px 0;
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
}

.cart_welcome-text p {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.cart_welcome-text p span {
  margin-right: 10px;
}

.cart_welcome-text span,
.cart__item-text span,
.warning span {
  color: var(--night, var(--gold-70)) var(--day, var(--orange-70));
}

.cart_welcome-btn-link {
  position: relative;
  font-weight: normal;
  color: var(--night, var(--dark)) var(--day, var(--gray));
}

.cart_welcome-btn-link:hover {
  color: var(--night, var(--gold)) var(--day, var(--orange));
}

.cart__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart__item-text {
  align-self: flex-end;
  margin: 0 20px;
}

.cart__item-img {
  width: 235px;
  padding: 10px;
  border: 1px solid var(--night, var(--gray)) var(--day, var(--dark));
}

.cart__item-icon-container {
  position: relative;
  align-self: flex-start;
}

.cart__item-icon {
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  fill: var(--red);
}

.cart__item-icon:hover {
  cursor: pointer;
}

.cart__zip-btn {
  position: relative;
  margin-bottom: 10px;
}

@media screen and (max-width: 725px) {
  .cart__item {
    position: relative;
  }

  .cart__item-text {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--gray);
    background-color: var(--dark-50);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
  }

  .cart__item-img {
    width: calc(100% - 10px)
  }
}

@media screen and (max-width: 575px) {
  .cart__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -50px;
    margin-left: 1rem;
    padding-left: 0;
    overflow-y: unset;
  }

  .cart_welcome-text {
    display: none;
  }

  .cart__wrapper {
    width: 100%;
  }

  .cart__items-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 5px;
    height: calc(100vh - 275px);
    overflow-y: scroll;
  }

  .cart_welcome-btn-link {
    display: none;
  }

}

@media screen and (max-width: 345px) {
  .cart__item-text-description {
    display: none;
  }
}