.cart__container {
  margin-top: 135px;
  margin-left: 157px;
}

.cart__wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.cart_welcome-text {
  position: fixed;
  z-index: 69;
  top: 0px;
  min-width: 215px;
  width: 100%;
  padding: 35px 20px 10px 0;
  background-color: var(--dark)
}

.cart_welcome-text p {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.cart_welcome-text p span {
  margin-right: 10px;
}

.cart_welcome-text span,
.cart__item-text span,
.warning span {
  color: var(--gold);
}

.cart_welcome-btn-link {
  position: relative;
  font-weight: normal;
  color: var(--ultra-dark);
}

.cart_welcome-btn-link:hover {
  color: var(--gold);
}

.cart__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart__item-text {
  align-self: flex-end;
  margin: 0 20px;
}

.cart__item-img {
  width: 235px;
  padding: 10px;
  border: 1px solid var(--gray);
}

.cart__item-icon-container {
  position: relative;
  align-self: flex-start;
}

.cart__item-icon {
  position: absolute;
  z-index: 50;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  fill: var(--red);
}

.cart__item-icon:hover {
  cursor: pointer;
}

.cart__zip-btn {
  position: relative;
  margin-bottom: 10px;
}

@media screen and (max-width: 725px) {
  .cart__item {
    position: relative;
  }

  .cart__item-text-out {
    display: none;
  }

  .cart__item-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--dark-50);
    margin: 12px;
    padding-left: 10px;
  }

  .cart__item-img {
    width: calc(100% - 10px)
  }
}

@media screen and (max-width: 575px) {
  .cart__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 105px;
    margin-left: 1rem;
    width: calc(100vw - 2rem);
    overflow-y: unset;
  }

  .cart_welcome-text {
    display: flex;
    z-index: -1;
    padding-top: 75px;
  }

  .cart_welcome-text p {
    justify-content: flex-start;
  }

  .cart__items-list {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 1rem);
    height: calc(100vh - 280px);
    overflow-y: scroll;
  }

  .cart_welcome-btn-link {
    display: none;
  }
}

@media screen and (max-width: 345px) {
  .cart__container {
    margin-top: 125px;
  }

  .cart__items-list {
    height: calc(100vh - 300px);
  }
}