.home__container {
  position: relative;
  width: calc(100% - 157px);
  margin-left: 157px;
  padding: 1rem 0;
}

/* Search bar */

.header__container {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 157px);
  font-weight: 500;
  margin-left: 157px;
  padding-top: 1rem;
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
}

.header__text-link {
  font-weight: 700;
  color: var(--night, var(--gold)) var(--day, var(--orange));
}

.header__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}

.search__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 7px;
  fill: var(--dark);
}

.search__btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0 5px 0 7px;
}

.search__btn:hover .search__icon {
  fill: var(--night, var(--gold)) var(--day, var(--orange));
}

.search__input {
  width: 75%;
  padding: 7px;
  border-radius: 10px;
  margin-right: 10px;
}

.search__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 1rem;
  height: calc(100vh - 290px);
}

.search__message h2 {
  margin-bottom: 20px;
}

.search__message p {
  line-height: 1.5rem;
  margin-bottom: 10px;
}

.search__message p span {
  color: var(--night, var(--gold)) var(--day, var(--orange));
}

@media screen and (max-width: 575px) {
  .home__container {
    position: relative;
    margin-left: 0;
    width: 100vw;
    height: 84vh;
  }

  .header__container {
    position: fixed;
    z-index: 30;
    bottom: 130px;
    left: 0;
    justify-content: flex-end;
    width: 100%;
    height: 10px;
    margin-left: 0;
    background-color: transparent;
    border-color: transparent;
  }

  .header__container p {
    display: none;
    background-color: transparent;
  }

  .header__form-container {
    position: fixed;
    z-index: 80;
    bottom: 120px;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 0;
    background-color: var(--night, var(--dark)) var(--day, var(--gray));
  }
}