.sidebar__container {
  position: fixed;
  top: 0;
  width: 125px;
  height: calc(100vh - 2rem);
  margin: 1rem;
  border: 1px solid var(--gold-70);
  border-radius: 10px;
  z-index: 0;
}

.sidebar__container.no__border {
  border: none;
}

.nav__items-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: calc(100vh - 285px);
  background-color: var(--dark);
  border-radius: 10px;
  z-index: 5;
}

.nav__link {
  display: flex;
  align-items: center;
  margin: 40px 10px 40px;
}

.active-link {
  color: var(--gold-70);
}

.nav__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.nav__icon-white>path {
  fill: var(--gray);
  stroke: var(--ultra-dark);
}

.nav__icon-white>g {
  fill: var(--ultra-dark);
}

.nav__link:hover>.nav__icon-white>path {
  fill: var(--gold);
}

.active-link>.nav__icon-white>path {
  fill: var(--gold-70);
}

.nav__icon-notification-container {
  position: relative;
  width: 100%;
}

.nav__icon-notification {
  position: absolute;
  right: 40px;
  top: -20px;
  padding: 2px 6px 1px;
  font-weight: 500;
  color: var(--gold-70);
  background-color: var(--ultra-dark);
  border: 2px solid var(--gold-70);
  border-radius: 50%;
  cursor: default;
}

@media screen and (max-width: 575px) {
  .sidebar__container {
    bottom: 0;
    border: none;
  }

  .nav__container {
    width: calc(100vw - 3rem);
    overflow-x: unset;
  }

  .nav__items-list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: calc(100vh - 195px);
    margin-left: 0;
    padding: 10px 0 5px;
    background-color: var(--dark);
    border: 1px solid var(--gold);
    border-radius: 10px;
    height: 100%;
    z-index: 5;
  }

  .nav__link {
    margin: 0;
  }

  .nav__icon {
    margin-right: 0;
  }

  .nav__icon-notification {
    right: -20px;
    top: -5px;
  }

  .nav__link {
    flex-direction: column;
  }
}