.sidebar__container {
  position: fixed;
  top: 0;
  width: 125px;
  height: calc(100vh - 2rem);
  margin: 1rem;
  border: 1px solid var(--gold-70);
  border-radius: 10px;
}

.sidebar__container.no__border {
  border: none;
}

.sidebar__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.7rem;
  cursor: pointer;
}

.sidebar__logo-img {
  width: 128px;
  height: 128px;
  -webkit-filter: hue-rotate(330deg);
  filter: hue-rotate(330deg);
}

.sidebar__logo-caption {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 2rem;
  color: var(--white);
  margin-top: -5px;
}

.nav__items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 65vh;
  margin-left: 10px;
}

.nav__link {
  display: flex;
  align-items: center;
}

.active-link {
  color: var(--gold-70);
}

.nav__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.nav__icon-white>path {
  fill: var(--gray);
  stroke: var(--ultra-dark);
}

.nav__icon-white>g {
  fill: var(--ultra-dark);
}

.nav__link:hover>.nav__icon-white>path {
  fill: var(--gold);
}

.active-link>.nav__icon-white>path {
  fill: var(--gold-70);
}

@media screen and (max-width: 575px) {
  .sidebar__container {
    position: fixed;
    bottom: 0;
    margin: 1rem;
    border: none;
    z-index: 10;
  }

  .sidebar__logo {
    align-items: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--dark);
    z-index: 10;
  }

  .sidebar__logo-img {
    width: 48px;
    height: 48px;
    margin: 0 auto;
  }

  .sidebar__logo-caption {
    font-size: 1.5rem;
  }

  .nav__container {
    width: calc(100vw - 2rem);
  }

  .nav__items {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: calc(100vh - 210px);
    margin-left: 0;
    padding: 10px 0 5px;
    border: 1px solid var(--gold);
    border-radius: 10px;
  }

  .nav__icon {
    margin-right: 0;
  }

  .nav__link {
    flex-direction: column;
  }
}