.photo__img-container {
  position: relative;
}

.photo__img {
  width: calc(100% - 1rem);
  padding: 10px;
  border: 1px solid var(--white);
}

.photo__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: calc(100% - 0.5rem);
  transition: .5s ease;
}

.photo__img-wrapper:hover .photo__overlay {
  opacity: 1;
}

.photo__text {
  position: absolute;
  bottom: 20.5px;
  left: 20px;
  color: var(--white);
}

.photo__link {
  color: var(--white);
}

.photo__link p span {
  color: var(--gray);
  font-weight: 600;
}

.photo__link:hover {
  color: var(--gold);
}

.cart__icon {
  position: absolute;
  z-index: 50;
  bottom: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin: 20px 30px;
  color: var(--gold-70);
}

.cart__icon:hover {
  color: var(--ultra-dark);
  stroke: var(--gold);
  stroke-width: 20px;
}

.cart__icon-disabled {
  position: absolute;
  z-index: 50;
  bottom: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin: 25px;
  visibility: hidden;
  cursor: none;
}

@media screen and (max-width: 575px) {
  .photo__img {
    width: calc(100% - 10px)
  }

  .photo__icon {
    display: none;
  }
}