.photo__img {
  position: relative;
  min-width: 235px;
  max-width: calc(100vw - 157px);
  width: calc(100% - 1rem);
  padding: 10px;
  border: 1px solid var(--white);
}

.photo__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: calc(100% - 1rem);
  height: calc(100% - 0.5rem);
  transition: .5s ease;
  background-color: var(--dark-50);
}

.gallery__photo:hover .photo__overlay {
  opacity: 1;
}

.photo__text {
  position: absolute;
  bottom: 20.5px;
  left: 20px;
  font-weight: 700;
  color: var(--white);
}

.photo__link {
  color: var(--white);
}

.photo__link p span {
  color: var(--gray);
  font-weight: 300;
}

.photo__link:hover {
  color: var(--gold);
}

.photo__icon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
}

.cart__icon {
  position: absolute;
  z-index: 50;
  bottom: 35.5px;
  right: 45px;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--gold-70);
}

.cart__icon-disabled {
  display: none;
}

@media screen and (max-width: 575px) {
  .photo__img {
    width: calc(100% - 10px)
  }

  .photo__icon {
    display: none;
  }
}