@media (prefers-color-scheme: light) {
  :root {
    --day: initial;
    --night: ;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --day: ;
    --night: initial;
  }
}

.app#day {
  --day: initial;
  --night: ;
  font-weight: 400;
}

.app#night {
  --day: ;
  --night: initial;
}

.app {
  position: relative;

  color: var(--night, var(--gray)) var(--day, var(--dark));
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
}

#app__theme-toggle {
  position: fixed;
  z-index: 800;
  top: 7rem;
  right: 2.5rem;
  background: none;
  border: none;
  opacity: 0.8;
  padding: 0;
  border-radius: 50%;
  isolation: isolate;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 725px) {
  #app__theme-toggle {
    top: 7rem;
    right: 1rem
  }
}

@media screen and (max-width: 575px) {
  #app__theme-toggle {
    top: 26px;
  }
}

#app__theme-toggle:hover,
#app__theme-toggle:focus {
  outline: 0;
  opacity: 1;
}

#app__theme-toggle svg {
  fill: var(--night, var(--gold)) var(--day, var(--orange));
}

.toggle-circle {
  transition: transform 500ms ease-out;
}

#day .toggle-circle {
  transform: translateX(-15%);
}

.toggle-sun {
  transform-origin: center center;
  transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
}

#day .toggle-sun {
  transform: rotate(0.5turn);
}

a,
Link,
NavLink {
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

a:hover,
Link:hover,
NavLink:hover {
  color: var(--night, var(--gold)) var(--day, var(--orange));
}

body {
  color: var(--night, var(--gray)) var(--day, var(--dark));
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
}

button {
  border-radius: 8px;
  padding: 5px 7px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  color: var(--dark);
  background-color: var(--night, var(--gold-70)) var(--day, var(--orange-70));
  border: 1px solid var(--dark);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: var(--night, var(--gold)) var(--day, var(--orange));
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
  border: 1px solid var(--night, var(--gold)) var(--day, var(--orange));
  outline: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  font-size: inherit;
  border: 1px solid var(--night, var(--gray)) var(--day, var(--dark));
}

input,
select,
textarea {
  color: var(--night, var(--gray)) var(--day, var(--dark));
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  border: 1px solid var(--night, var(--gold)) var(--day, var(--orange));
  outline: none;
}


img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

li {
  list-style: none;
}

main {
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
}

textarea {
  font-size: inherit;
  resize: none;
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
  border: 1px solid var(--night, var(--gray)) var(--day, var(--dark));
}

.error {
  font-size: 1rem;
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  color: var(--red);
  background-color: var(--night, var(--dark)) var(--day, var(--gray));
  border: 1px solid var(--red);
  border-radius: 10px;
}

.error .login__register-link {
  color: var(--red);
}