:root {
  color-scheme: dark light;

  --dark: hsl(210, 8%, 15%);
  --dark-50: hsla(210, 8%, 15%, 0.5);
  --dark-10: hsla(210, 8%, 15%, 0.1);
  --white: hsla(0, 0%, 100%, 0.9);
  --gray: hsl(0, 0%, 95%);
  --gray-50: hsla(0, 0%, 100%, 0.35);

  --gold: hsl(45, 100%, 59%);
  --gold-70: hsla(45, 100%, 59%, 0.7);
  --gold-10: hsla(45, 100%, 59%, 0.1);

  --orange: hsl(33, 100%, 52%);
  --orange-70: hsla(33, 100%, 52%, 0.7);

  --red: hsl(0, 79%, 59%);

  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}