:root {
  --gold: hsl(45, 100%, 59%);
  --gold-70: hsla(45, 100%, 59%, 0.7);
  --gold-30: hsla(45, 100%, 59%, 0.3);
  --orange: hsl(32, 75%, 36%);
  --orange-70: hsla(32, 75%, 36%, 0.7);
  --red: hsl(0, 79%, 59%);
  --ultra-dark: hsl(0, 0%, 10%);
  --dark: hsl(0, 0%, 14%);
  --dark-50: hsla(0, 0%, 14%, 0.5);
  --dark-70: hsla(0, 0%, 14%, 0.7);
  --white: hsla(0, 0%, 100%, 0.9);
  --gray: hsla(0, 0%, 100%, 0.7);
  --gray-50: hsla(0, 0%, 100%, 0.35);

  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 300;

  color-scheme: light dark;
  color: var(--gray);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}